body{
	background-color: white;
	color:white;	 
}
header{
	text-align: center;
	color: #fff;
	padding: 20px;
	background-color:#00acee;
	width: 100%;

}
.container{
	width: 500px;
	min-height: 300px;
	margin: 0 auto;
	padding: 30px;
	background-color: tomato;
	position: relative;
	margin-top: 10px;
}

.fa-whatsapp{

	padding: 20px;
}