body{
	background-color: pink;
	font:bold;
	width: 1000px;

	 
}
header {
	color: grey;
	text-align: center;
}

h1{
	 color: red;
}

h2{
	color: green
}
div {
	padding: 50px;
	margin: 50px;
	background-color: white;
	text-align: left;
}

footer{
	text-align: center;
}